body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  border-radius: 4rem;
  border: 0.1rem solid black;
  padding: 1rem;
  background-color: cyan;
  margin-bottom: 1rem;
  margin: 1rem;
}

.counter {
  display: flex;
  align-items: center;
}

.counter-btn{
padding: 1rem;
border-radius: 4px;
margin: 0 1 rem;
color: #f7f7f7;
background-color: aqua;

}

.product-image {
  height: 100px;
  width: 100px;
}

.product {
  border: 0.25px solid gray;
  padding: 1rem;
  width: 200px;
}

.products {
  display: -webkit-flex;
  flex-wrap: wrap; 

}